streamlit==1.16.0
python-dotenv==0.20.0
PyPDF2==1.26.0
langchain-community==0.0.18
#langchain-core==0.1.19
langchain-core
huggingface-hub==0.14.1
faiss-cpu==1.7.2  # Use faiss-gpu if you are using GPU
sentence-transformers==2.2.0
torch==2.5.1

#torch==1.12.1  # Specify the version compatible with your project
transformers==4.23.1  # Add the transformers library